// Import
@import "_mixins.scss";

// Variables
$font-green: #2e963d;
$light-green:#f6faf9;

// Font
body {
  font-family: 'Microsoft Yahei', sans-serif;
}

// Basic
input, button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clr {
  clear: both;
}

// Styles
.topbar {
  @include size(100%, 50px);
  line-height: 50px;
  color: $font-green;
  font-size: 1.5rem;
  letter-spacing: 10px;
  text-align: center;
  background-color: $light-green;
}

.searchbar {
  padding: 1rem 2rem;
  & #search-input {
    @include size(auto, 30px);
    text-indent: .5rem;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
  }
  & #search-btn {
    @include button-size(.3rem,1rem,20px,20px,5px);
    background: $light-green;
    color: $font-green;
  }
}

#books {
  padding: 0 .5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  & .book {
    text-align: center;
    margin-bottom: 1rem;

    & .book-title, & .book-publisher {
      line-height: 1.5rem;
    }
    & .book-title {
      color: $font-green;
    }
    & .book-publisher {
      color: #aaa;
      font-size: .5em;
    }
  }
}
