body {
  font-family: 'Microsoft Yahei', sans-serif;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clr {
  clear: both;
}

.topbar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #2e963d;
  font-size: 1.5rem;
  letter-spacing: 10px;
  text-align: center;
  background-color: #f6faf9;
}

.searchbar {
  padding: 1rem 2rem;
}

.searchbar #search-input {
  width: auto;
  height: 30px;
  text-indent: .5rem;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
}

.searchbar #search-btn {
  padding: 0.3rem 1rem;
  line-height: 20px;
  border-radius: 5px;
  background: #f6faf9;
  color: #2e963d;
}

#books {
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#books .book {
  text-align: center;
  margin-bottom: 1rem;
  width: 150px;
  height: auto;
}

#books .book .book-title,
#books .book .book-author,
#books .book .book-publisher {
  line-height: 1.5rem;
  word-wrap: break-word;
  word-break: normal;
}

#books .book .book-title {
  color: #2e963d;
}

#books .book .book-author,
#books .book .book-publisher {
  color: #aaa;
  font-size: .5em;
}